In [36]:
import pickle
import pandas as pd
import numpy as np

In [37]:
# Multiple outputs for cell!
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [38]:
df = pd.read_csv('dataset.csv')

In [39]:
df.info()
len(df.loc[df.drafted ==True])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27685 entries, 0 to 27684
Data columns (total 34 columns):
Unnamed: 0       27685 non-null int64
name             27685 non-null object
index            27685 non-null int64
height           27685 non-null float64
weight           27685 non-null float64
position         27685 non-null object
games_played     27685 non-null int64
games_started    27685 non-null int64
min_per          27574 non-null float64
field_goal       27681 non-null float64
field_attmps     27681 non-null float64
field_pct        27008 non-null float64
two_pointer      27681 non-null float64
two_pattamps     27681 non-null float64
two_pct          26516 non-null float64
three_ptrs       27681 non-null float64
three_pattmp     27681 non-null float64
three_pct        27008 non-null float64
free_throws      27681 non-null float64
free_attmps      27681 non-null float64
free_pct         25152 non-null float64
assists          27681 non-null float64
steals           27680 non-null float64
blocks           27680 non-null float64
points           27681 non-null float64
off_reb          27505 non-null float64
def_reb          27505 non-null float64
total_reb        27681 non-null float64
turnovers        27564 non-null float64
school           27685 non-null object
seasons          27685 non-null object
start_season     27685 non-null int64
end_season       27685 non-null int64
drafted          27685 non-null bool
dtypes: bool(1), float64(23), int64(6), object(4)
memory usage: 7.0+ MB

696

In [40]:
df.head()

,Unnamed: 0,name,index,height,weight,position,games_played,games_started,min_per,field_goal,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
0,0,Nick Sherman,29104,1.9050,86.1840,Guard,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,Ohio State,[2003],2003,2003,False
1,1,Deon Green,12344,1.9050,88.4520,Guard,27,0,10.0,0.4,...,1.3,0.2,0.3,0.5,1.0,South Florida,[2001],2001,2001,False
2,2,A.J. Hammons,13095,2.1336,118.3896,Center,132,95,24.3,4.6,...,12.1,2.4,4.7,7.0,2.1,Purdue,"[2013, 2014, 2015, 2016]",2013,2016,True
3,3,Spirit Ricks,27193,2.0320,97.5240,Guard,26,18,14.7,1.2,...,3.7,0.5,2.7,3.2,1.3,Norfolk State,[2020],2020,2020,False
4,4,George Matthews,20782,1.9558,104.3280,Guard,54,0,8.6,1.1,...,2.9,0.7,1.3,2.0,0.8,Overall,"[2012, 2013, 2014, 2015, 2016]",2012,2016,False

In [41]:
df1= df[df.isna().any(axis=1)]

In [42]:
# drop na test
df1.loc[df1.drafted ==True]
df2 = df.dropna()

len(df)
len(df2)
len(df1)
# ONLY ONE PLAYER FROM 2001 IS DRAFTED AND WITH NAN VALUES

,Unnamed: 0,name,index,height,weight,position,games_played,games_started,min_per,field_goal,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
13192,13192,Ryan Mollins,22464,1.9558,81.648,Guard,4,0,1.3,0.3,...,0.5,0.0,0.3,0.3,0.5,UCLA,[2001],2001,2001,True

27685

24647

3038

In [43]:
# drop all rows with na
len(df)
df = df.dropna().reset_index(drop=True)
len(df)
df.head()

27685

24647

,Unnamed: 0,name,index,height,weight,position,games_played,games_started,min_per,field_goal,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
0,1,Deon Green,12344,1.9050,88.4520,Guard,27,0,10.0,0.4,...,1.3,0.2,0.3,0.5,1.0,South Florida,[2001],2001,2001,False
1,2,A.J. Hammons,13095,2.1336,118.3896,Center,132,95,24.3,4.6,...,12.1,2.4,4.7,7.0,2.1,Purdue,"[2013, 2014, 2015, 2016]",2013,2016,True
2,3,Spirit Ricks,27193,2.0320,97.5240,Guard,26,18,14.7,1.2,...,3.7,0.5,2.7,3.2,1.3,Norfolk State,[2020],2020,2020,False
3,4,George Matthews,20782,1.9558,104.3280,Guard,54,0,8.6,1.1,...,2.9,0.7,1.3,2.0,0.8,Overall,"[2012, 2013, 2014, 2015, 2016]",2012,2016,False
4,5,Jordan Nelson,23573,1.8288,72.5760,Guard,54,0,7.1,0.7,...,1.9,0.1,0.4,0.4,0.2,Evansville,"[2012, 2013]",2012,2013,False

In [44]:
#count drafted
len(df)
len(df.loc[df.drafted ==True])

24647

695

In [45]:
# dati 2001- 2009
len(df.loc[(df.end_season<2010)])
len(df.loc[(df.end_season<2010) & (df.drafted ==True)])

9014

230

In [46]:
# Keeping 2001- 2009
dfnew = df.loc[(df.end_season<2010)].reset_index(drop=True)
dfnew.head()

,Unnamed: 0,name,index,height,weight,position,games_played,games_started,min_per,field_goal,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
0,1,Deon Green,12344,1.9050,88.452,Guard,27,0,10.0,0.4,...,1.3,0.2,0.3,0.5,1.0,South Florida,[2001],2001,2001,False
1,7,Hakeem Rollins,27768,2.0066,111.132,Center,62,7,17.7,1.5,...,4.2,1.2,2.0,3.3,0.9,Washington,"[2004, 2005]",2004,2005,False
2,9,Billy McDade,21234,2.0320,88.452,Forward,48,1,14.6,2.1,...,6.3,0.4,1.3,1.8,0.8,New Orleans,"[2003, 2004]",2003,2004,False
3,11,Harold Stewart,30711,2.0320,83.916,Forward,120,26,16.4,1.3,...,3.7,1.6,2.0,3.5,1.1,North Texas,"[2006, 2007, 2008, 2009]",2006,2009,False
4,12,Jerome Johnson,16591,2.0320,111.132,Center,10,0,4.5,0.2,...,0.4,0.4,0.2,0.6,0.7,UNLV,[2006],2006,2006,False

### modifica di alcune colonne

In [47]:
dfnew.drop(columns='Unnamed: 0',inplace=True)

In [48]:
for col in dfnew.columns:
    print(col)

name
index
height
weight
position
games_played
games_started
min_per
field_goal
field_attmps
field_pct
two_pointer
two_pattamps
two_pct
three_ptrs
three_pattmp
three_pct
free_throws
free_attmps
free_pct
assists
steals
blocks
points
off_reb
def_reb
total_reb
turnovers
school
seasons
start_season
end_season
drafted

In [49]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9014 entries, 0 to 9013
Data columns (total 33 columns):
name             9014 non-null object
index            9014 non-null int64
height           9014 non-null float64
weight           9014 non-null float64
position         9014 non-null object
games_played     9014 non-null int64
games_started    9014 non-null int64
min_per          9014 non-null float64
field_goal       9014 non-null float64
field_attmps     9014 non-null float64
field_pct        9014 non-null float64
two_pointer      9014 non-null float64
two_pattamps     9014 non-null float64
two_pct          9014 non-null float64
three_ptrs       9014 non-null float64
three_pattmp     9014 non-null float64
three_pct        9014 non-null float64
free_throws      9014 non-null float64
free_attmps      9014 non-null float64
free_pct         9014 non-null float64
assists          9014 non-null float64
steals           9014 non-null float64
blocks           9014 non-null float64
points           9014 non-null float64
off_reb          9014 non-null float64
def_reb          9014 non-null float64
total_reb        9014 non-null float64
turnovers        9014 non-null float64
school           9014 non-null object
seasons          9014 non-null object
start_season     9014 non-null int64
end_season       9014 non-null int64
drafted          9014 non-null bool
dtypes: bool(1), float64(23), int64(5), object(4)
memory usage: 2.2+ MB

In [50]:
dfnew.seasons.head(5)
for i in range(0,5):
    print(len(dfnew.seasons[i]))

0                      [2001]
1                [2004, 2005]
2                [2003, 2004]
3    [2006, 2007, 2008, 2009]
4                      [2006]
Name: seasons, dtype: object

6
12
12
24
6

In [51]:
# change seasons in the number of seasons (divide by 6 each string list lenght)
dfnew.seasons = dfnew.seasons.apply(len)
dfnew.seasons = dfnew.seasons/6
dfnew.seasons

0       1.0
1       2.0
2       2.0
3       4.0
4       1.0
       ...
9009    2.0
9010    1.0
9011    1.0
9012    3.0
9013    3.0
Name: seasons, Length: 9014, dtype: float64

In [52]:
dfnew.head()

,name,index,height,weight,position,games_played,games_started,min_per,field_goal,field_attmps,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
0,Deon Green,12344,1.9050,88.452,Guard,27,0,10.0,0.4,1.7,...,1.3,0.2,0.3,0.5,1.0,South Florida,1.0,2001,2001,False
1,Hakeem Rollins,27768,2.0066,111.132,Center,62,7,17.7,1.5,3.1,...,4.2,1.2,2.0,3.3,0.9,Washington,2.0,2004,2005,False
2,Billy McDade,21234,2.0320,88.452,Forward,48,1,14.6,2.1,5.3,...,6.3,0.4,1.3,1.8,0.8,New Orleans,2.0,2003,2004,False
3,Harold Stewart,30711,2.0320,83.916,Forward,120,26,16.4,1.3,2.9,...,3.7,1.6,2.0,3.5,1.1,North Texas,4.0,2006,2009,False
4,Jerome Johnson,16591,2.0320,111.132,Center,10,0,4.5,0.2,0.8,...,0.4,0.4,0.2,0.6,0.7,UNLV,1.0,2006,2006,False

In [53]:
# transform games_played and games started for the seasons
dfnew.games_played = dfnew.games_played / dfnew.seasons
dfnew.games_started = dfnew.games_started  / dfnew.seasons
dfnew.head()

,name,index,height,weight,position,games_played,games_started,min_per,field_goal,field_attmps,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
0,Deon Green,12344,1.9050,88.452,Guard,27.0,0.0,10.0,0.4,1.7,...,1.3,0.2,0.3,0.5,1.0,South Florida,1.0,2001,2001,False
1,Hakeem Rollins,27768,2.0066,111.132,Center,31.0,3.5,17.7,1.5,3.1,...,4.2,1.2,2.0,3.3,0.9,Washington,2.0,2004,2005,False
2,Billy McDade,21234,2.0320,88.452,Forward,24.0,0.5,14.6,2.1,5.3,...,6.3,0.4,1.3,1.8,0.8,New Orleans,2.0,2003,2004,False
3,Harold Stewart,30711,2.0320,83.916,Forward,30.0,6.5,16.4,1.3,2.9,...,3.7,1.6,2.0,3.5,1.1,North Texas,4.0,2006,2009,False
4,Jerome Johnson,16591,2.0320,111.132,Center,10.0,0.0,4.5,0.2,0.8,...,0.4,0.4,0.2,0.6,0.7,UNLV,1.0,2006,2006,False

In [54]:
# drop index
dfnew.drop(columns='index',inplace=True)

### CHECK ALL THE DRAFTS FROM 2001 TO 2009

In [58]:
len(dfnew.loc[(dfnew.drafted == 1) & (dfnew.end_season == 2001)])
len(dfnew.loc[dfnew.end_season == 2001])

6

87

In [59]:
wrong_drafted = []

In [60]:
# 2001
drafts = pd.read_csv('Draft2001.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

               name  end_season  drafted
766   Zach Randolph        2001     True
3000   Rodney White        2001     True
3342      Omar Cook        2001     True
7233  Eddie Griffin        2001     True

4

[]

In [61]:
# 2002
drafts = pd.read_csv('Draft2002.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                name  end_season  drafted
1057  Jared Jeffries        2002     True
1797   Jamal Sampson        2002     True
2878     Tito Maddox        2001     True
2932    Caron Butler        2002     True
4429    Chris Wilcox        2002     True
4463     Chris Owens        2004    False
6620   Marcus Taylor        2002     True
7881   Dajuan Wagner        2002     True

8

['Chris Owens']

In [62]:
# 2003
drafts = pd.read_csv('Draft2003.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

               name  end_season  drafted
696      Chris Bosh        2003     True
946    Mario Austin        2003     True
2821   Rick Rickert        2003     True
3227      T.J. Ford        2003     True
4795  Mike Sweetney        2003     True
5689    Dwyane Wade        2003     True
6881    Chris Kaman        2003     True
7109  Travis Hansen        2003     True
8209   Luke Ridnour        2003     True

9

['Chris Owens']

In [63]:
# 2004
drafts = pd.read_csv('Draft2004.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                  name  end_season  drafted
93         Matt Freije        2004     True
264         Royal Ivey        2004     True
632       Kevin Martin        2004    False
1155        Ben Gordon        2004     True
1180         Luol Deng        2004     True
1206      Emeka Okafor        2004     True
1228       Romain Sato        2004     True
1879      Luke Jackson        2004     True
2115      Andre Emmett        2004     True
2300    Kris Humphries        2004     True
2391      Trevor Ariza        2004     True
2844  Christian Drejer        2004     True
3465       Justin Reed        2004     True
3650    Jackson Vroman        2004     True
3822      Ricky Minard        2004     True
3989        Tony Allen        2004     True
4066       Tim Pickett        2004     True
4131   Rickey Paulding        2004     True
4425    Andre Iguodala        2004     True
5322    David Harrison        2004     True
6110          Pape Sow        2004     True
6115       Kirk Snyder        2004     True
6436       Blake Stepp        2004     True
6440       Chris Duhon        2004     True
7015     Jameer Nelson        2004     True
8454      Delonte West        2004     True
8667    Marcus Douthit        2004     True
8831    Josh Childress        2004     True

28

['Chris Owens', 'Kevin Martin']

In [64]:
# 2005
drafts = pd.read_csv('Draft2005.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                    name  end_season  drafted
227         Julius Hodge        2005     True
519       Dijon Thompson        2005     True
698           Chris Paul        2005     True
1158        Jarrett Jack        2005     True
1202    Salim Stoudamire        2005     True
1358         Joey Graham        2005    False
1393  Charlie Villanueva        2005     True
1544        Daniel Ewing        2005     True
1630           Ike Diogu        2005     True
1684          Chris Taft        2005     True
2849        Brandon Bass        2005     True
3476       Channing Frye        2005     True
3549      Rashad McCants        2005     True
3651        Orien Greene        2005    False
4164       Erazem Lorbek        2003    False
4427       Hakim Warrick        2005     True
4527        Linas Kleiza        2005     True
4806           Von Wafer        2005     True
5182       Bracey Wright        2005     True
6016       Jason Maxiell        2005     True
6162          Alex Acker        2005     True
6343         Luther Head        2005     True
6464        Andrew Bogut        2005     True
6874        Ronny Turiaf        2005     True
7892      Antoine Wright        2005     True
8517       Travis Diener        2005     True
8649      Deron Williams        2005     True
8763            Sean May        2005     True
8873       Robert Whaley        2004    False

29

['Chris Owens',
 'Kevin Martin',
 'Joey Graham',
 'Orien Greene',
 'Erazem Lorbek',
 'Robert Whaley']

In [65]:
# 2006
drafts = pd.read_csv('Draft2006.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                   name  end_season  drafted
123     Shawne Williams        2006     True
520    Patrick O'Bryant        2006     True
551       Rodney Carney        2006     True
617          Josh Boone        2006     True
982       Jordan Farmar        2006     True
1112       Ryan Hollins        2006     True
1208     Cedric Simmons        2006     True
1444    Renaldo Balkman        2006     True
1468       Paul Millsap        2006     True
1532       J.R. Pinnock        2006     True
1577      Shannon Brown        2006     True
1718       Maurice Ager        2006     True
1966        Brandon Roy        2006     True
2622    James Augustine        2006     True
2733  Alexander Johnson        2006     True
3791  LaMarcus Aldridge        2006     True
3970       Denham Brown        2006     True
4461       Hassan Adams        2006     True
4798         Paul Davis        2006     True
4858         Kyle Lowry        2006     True
5599   Shelden Williams        2006     True
5608      Adam Morrison        2006     True
5817        Craig Smith        2006     True
5925        Steve Novak        2006     True
6886      Ronnie Brewer        2006     True
7232       Will Blalock        2006     True
7430        Rajon Rondo        2006     True
7999         Randy Foye        2006     True
8030       Quincy Douby        2006    False
8090      Mardy Collins        2006     True
8301        J.J. Redick        2006     True

31

['Chris Owens',
 'Kevin Martin',
 'Joey Graham',
 'Orien Greene',
 'Erazem Lorbek',
 'Robert Whaley',
 'Quincy Douby']

In [66]:
# 2007
drafts = pd.read_csv('Draft2007.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                    name  end_season  drafted
280          Joakim Noah        2007     True
660           Nick Young        2007     True
720         Daequan Cook        2007     True
829           Jeff Green        2007     True
890          Gabe Pruitt        2007     True
942      Wilson Chandler        2007     True
1046      Thaddeus Young        2007     True
1288        Jared Dudley        2007     True
1363          Aaron Gray        2007     True
2008        Aaron Brooks        2007     True
2634      Josh McRoberts        2007     True
2913      Brandan Wright        2007     True
2928         Sammy Mejia        2007     True
2983       Arron Afflalo        2007     True
3109  Javaris Crittenton        2007     True
3300       Alando Tucker        2007     True
4305         Jason Smith        2007     True
4386         Al Thornton        2007     True
4693       Spencer Hawes        2007     True
5131        Adam Haluska        2007    False
5434      Reyshawn Terry        2007     True
5618    Demetris Nichols        2007     True
5646      Rodney Stuckey        2007     True
6388       Morris Almond        2007    False
7026        Herbert Hill        2007     True
7093     Dominic McGuire        2007    False
7627        Nick Fazekas        2007     True
7736          Glen Davis        2007     True
7740      Ramon Sessions        2007     True
8017   Jermareo Davidson        2007     True
8199        Corey Brewer        2007     True
8339       Taurean Green        2007     True
8501       Derrick Byars        2007    False
8520        Kevin Durant        2007     True
8837        Jared Jordan        2007    False
8923       JamesOn Curry        2007     True
8990       Julian Wright        2007     True

37

['Chris Owens',
 'Kevin Martin',
 'Joey Graham',
 'Orien Greene',
 'Erazem Lorbek',
 'Robert Whaley',
 'Quincy Douby',
 'Adam Haluska',
 'Morris Almond',
 'Dominic McGuire',
 'Derrick Byars',
 'Jared Jordan']

In [67]:
# 2008
drafts = pd.read_csv('Draft2008.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                   name  end_season  drafted
11           Sasha Kaun        2008     True
23      Michael Beasley        2008     True
34         J.J. Hickson        2008     True
368      Mario Chalmers        2008     True
816         Robin Lopez        2008     True
1597    Richard Hendrix        2008     True
2363    Sean Singletary        2008     True
2612         James Gist        2008     True
3095       Derrick Rose        2008     True
3237       Joe Crawford        2008     True
3969         Kevin Love        2008     True
4436       DeVon Hardin        2008     True
4851   Deron Washington        2008     True
4886       J.R. Giddens        2008    False
5171  Russell Westbrook        2008     True
5288     Trent Plaisted        2008    False
6737        Brook Lopez        2008     True
6742      Joe Alexander        2008     True
6838     Darrell Arthur        2008     True
7010     Jerryd Bayless        2008     True
7105       JaVale McGee        2008     True
7300         D.J. White        2008     True
7411        Roy Hibbert        2008     True
7660        Sonny Weems        2008     True
7767  Marreese Speights        2008     True
8043        Shan Foster        2008     True
8110          O.J. Mayo        2008     True
8378       Kosta Koufos        2008     True
8436        Kyle Weaver        2008     True
8612      Maarty Leunen        2008     True
8662     Malik Hairston        2008     True
8789        Joey Dorsey        2008     True

32

['Chris Owens',
 'Kevin Martin',
 'Joey Graham',
 'Orien Greene',
 'Erazem Lorbek',
 'Robert Whaley',
 'Quincy Douby',
 'Adam Haluska',
 'Morris Almond',
 'Dominic McGuire',
 'Derrick Byars',
 'Jared Jordan',
 'J.R. Giddens',
 'Trent Plaisted']

In [68]:
# 2009
drafts = pd.read_csv('Draft2009.csv')
draft_list = drafts.Player.to_list()
dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']]
len(dfnew.loc[dfnew.name.isin(draft_list)][['name','end_season','drafted']])
# take names of drafted = false and put in list
wrong_drafted.extend(dfnew.loc[(dfnew.name.isin(draft_list)) & (dfnew.drafted == False)].name.to_list())
wrong_drafted

                  name  end_season  drafted
445        Jonny Flynn        2009     True
539   Gerald Henderson        2009     True
731     DaJuan Summers        2009     True
980       James Harden        2009     True
1066       Goran Suton        2009     True
1269      Jon Brockman        2009     True
1351     Blake Griffin        2009     True
1605   Chinemelu Elonu        2009     True
1968   Darren Collison        2009     True
2069     Derrick Brown        2009     True
2421         Ty Lawson        2009     True
2545       Jeff Teague        2009     True
2631  Dante Cunningham        2009     True
2803      Jrue Holiday        2009     True
3171        Jeff Ayres        2009     True
3437     Stephen Curry        2009     True
4473  Tyler Hansbrough        2009     True
4533   Wayne Ellington        2009     True
4584     Toney Douglas        2009    False
4902         Sam Young        2009     True
5058       Austin Daye        2009     True
5153    Taylor Griffin        2009     True
5399  Brandon Jennings        2004    False
5606      DeJuan Blair        2009     True
5838    Jack McClinton        2009    False
5874     Nick Calathes        2009     True
5889       Jodie Meeks        2009     True
6071       Eric Maynor        2009     True
6727   DeMarre Carroll        2009    False
6892     DeMar DeRozan        2009     True
7053     Robert Dozier        2009     True
7142      Robert Vaden        2009    False
7352  Patrick Beverley        2008     True
7443   Jermaine Taylor        2009    False
7971     Lester Hudson        2009    False
8025      Tyreke Evans        2009     True
8112        Earl Clark        2009     True
8210    Chase Budinger        2009     True
8482        Taj Gibson        2009     True
8833   Hasheem Thabeet        2009     True
8894       Danny Green        2009     True

41

['Chris Owens',
 'Kevin Martin',
 'Joey Graham',
 'Orien Greene',
 'Erazem Lorbek',
 'Robert Whaley',
 'Quincy Douby',
 'Adam Haluska',
 'Morris Almond',
 'Dominic McGuire',
 'Derrick Byars',
 'Jared Jordan',
 'J.R. Giddens',
 'Trent Plaisted',
 'Toney Douglas',
 'Brandon Jennings',
 'Jack McClinton',
 'DeMarre Carroll',
 'Robert Vaden',
 'Jermaine Taylor',
 'Lester Hudson']

In [71]:
dfnew.loc[dfnew.name.isin(wrong_drafted)]
len(wrong_drafted)

,name,height,weight,position,games_played,games_started,min_per,field_goal,field_attmps,field_pct,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
632,Kevin Martin,2.0828,122.4720,Center,20.333333,3.333333,6.0,0.9,1.9,0.478,...,2.4,0.6,0.9,1.5,0.5,Wagner,3.0,2002,2004,True
1358,Joey Graham,2.0066,102.0600,Forward,25.600000,21.800000,26.1,4.7,8.8,0.527,...,13.0,1.6,3.6,5.2,2.2,Overall,5.0,2001,2005,True
3651,Orien Greene,1.9304,94.3488,Guard,20.800000,11.600000,24.7,2.5,6.1,0.409,...,7.0,0.9,2.5,3.4,2.1,Overall,5.0,2001,2005,True
4164,Erazem Lorbek,2.0828,108.8640,Forward,35.000000,16.000000,15.5,2.5,4.7,0.534,...,6.4,1.1,2.2,3.3,1.1,Michigan State,1.0,2003,2003,True
4463,Chris Owens,1.9558,95.2560,Forward,16.000000,2.500000,8.5,0.8,2.5,0.333,...,2.3,0.6,0.8,1.3,0.6,Columbia,2.0,2003,2004,True
4584,Toney Douglas,1.8542,92.9880,Guard,26.000000,25.200000,34.2,5.7,12.9,0.442,...,16.8,0.8,3.0,3.8,2.6,Overall,5.0,2005,2009,True
4886,J.R. Giddens,1.9558,97.5240,Guard,24.400000,21.000000,29.0,5.1,10.9,0.464,...,13.3,1.0,4.7,5.7,1.9,Overall,5.0,2004,2008,True
5131,Adam Haluska,1.9558,95.2560,Guard,25.800000,25.800000,32.0,4.6,10.9,0.424,...,14.4,0.7,3.5,4.2,1.6,Overall,5.0,2003,2007,True
5288,Trent Plaisted,2.1082,111.1320,Forward,25.750000,24.250000,27.2,5.0,9.3,0.535,...,13.3,2.2,4.4,6.7,2.1,BYU,4.0,2005,2008,True
5399,Brandon Jennings,1.9812,103.4208,Forward,26.000000,4.000000,15.0,1.3,2.8,0.448,...,3.3,0.9,1.7,2.6,0.6,Purdue-Fort Wayne,2.0,2003,2004,True
5838,Jack McClinton,1.8542,83.9160,Guard,25.000000,21.200000,31.9,5.4,12.7,0.427,...,16.9,0.6,2.7,3.2,2.5,Overall,5.0,2005,2009,True
6388,Morris Almond,1.9812,102.0600,Guard,30.250000,14.000000,27.1,5.2,10.5,0.492,...,15.1,1.0,2.5,3.5,2.2,Rice,4.0,2004,2007,True
6727,DeMarre Carroll,2.0320,102.0600,Forward,26.800000,17.800000,24.5,4.5,8.4,0.535,...,11.2,2.4,3.6,6.0,1.3,Overall,5.0,2005,2009,True
7093,Dominic McGuire,2.0574,99.7920,Guard,21.500000,14.750000,25.0,3.3,7.2,0.462,...,8.7,1.7,4.6,6.3,2.4,Overall,4.0,2004,2007,True
7142,Robert Vaden,1.9558,92.9880,Guard,25.400000,25.400000,35.1,5.3,13.2,0.405,...,15.8,0.9,3.7,4.6,2.7,Overall,5.0,2005,2009,True
7443,Jermaine Taylor,1.9304,92.9880,Guard,30.500000,15.000000,25.8,5.8,12.5,0.466,...,16.2,1.5,2.3,3.9,2.2,UCF,4.0,2006,2009,True
7971,Lester Hudson,1.9050,86.1840,Guard,32.500000,32.000000,36.5,9.3,20.4,0.456,...,26.6,2.2,5.7,7.9,3.6,UT-Martin,2.0,2008,2009,True
8030,Quincy Douby,1.9050,79.3800,Guard,31.666667,21.333333,32.1,6.1,14.1,0.432,...,17.8,0.7,2.2,2.9,2.2,Rutgers,3.0,2004,2006,True
8501,Derrick Byars,2.0066,99.7920,Guard,25.200000,19.600000,26.3,3.9,8.5,0.463,...,11.0,1.2,2.5,3.7,1.9,Overall,5.0,2003,2007,True
8837,Jared Jordan,1.8796,84.8232,Guard,29.250000,27.000000,34.6,4.7,10.5,0.446,...,13.1,1.2,3.6,4.8,2.8,Marist,4.0,2004,2007,True
8873,Robert Whaley,2.0828,117.9360,Center,22.000000,3.000000,13.0,2.2,6.3,0.348,...,5.8,1.0,1.4,2.5,1.1,Cincinnati,1.0,2004,2004,True

21

In [70]:
dfnew.loc[dfnew.name.isin(wrong_drafted), 'drafted'] = True

### SALVATAGGIO DATASET DEFINITIVO PER R SU CSV

In [72]:
# Final dataset info to export and work in R!
print('total number of player:')
a = len(dfnew)
a
print('number of player drafted:')
b = len(dfnew.loc[dfnew.drafted == True])
b
print('drafted ratio % :')
b/a * 100

print(' GENERAL DATASET INFO: \n')
dfnew.head()
print('\n')
print('SHAPE: \n')
dfnew.shape
print('\n')
print('INFO: \n')
dfnew.info()
print('\n')
print('SUMMARY: \n')
dfnew.describe()

total number of player:

9014

number of player drafted:

251

drafted ratio % :

2.784557355225205

 GENERAL DATASET INFO:

,name,height,weight,position,games_played,games_started,min_per,field_goal,field_attmps,field_pct,...,points,off_reb,def_reb,total_reb,turnovers,school,seasons,start_season,end_season,drafted
0,Deon Green,1.9050,88.452,Guard,27.0,0.0,10.0,0.4,1.7,0.217,...,1.3,0.2,0.3,0.5,1.0,South Florida,1.0,2001,2001,False
1,Hakeem Rollins,2.0066,111.132,Center,31.0,3.5,17.7,1.5,3.1,0.467,...,4.2,1.2,2.0,3.3,0.9,Washington,2.0,2004,2005,False
2,Billy McDade,2.0320,88.452,Forward,24.0,0.5,14.6,2.1,5.3,0.404,...,6.3,0.4,1.3,1.8,0.8,New Orleans,2.0,2003,2004,False
3,Harold Stewart,2.0320,83.916,Forward,30.0,6.5,16.4,1.3,2.9,0.450,...,3.7,1.6,2.0,3.5,1.1,North Texas,4.0,2006,2009,False
4,Jerome Johnson,2.0320,111.132,Center,10.0,0.0,4.5,0.2,0.8,0.250,...,0.4,0.4,0.2,0.6,0.7,UNLV,1.0,2006,2006,False

SHAPE:

(9014, 32)

INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9014 entries, 0 to 9013
Data columns (total 32 columns):
name             9014 non-null object
height           9014 non-null float64
weight           9014 non-null float64
position         9014 non-null object
games_played     9014 non-null float64
games_started    9014 non-null float64
min_per          9014 non-null float64
field_goal       9014 non-null float64
field_attmps     9014 non-null float64
field_pct        9014 non-null float64
two_pointer      9014 non-null float64
two_pattamps     9014 non-null float64
two_pct          9014 non-null float64
three_ptrs       9014 non-null float64
three_pattmp     9014 non-null float64
three_pct        9014 non-null float64
free_throws      9014 non-null float64
free_attmps      9014 non-null float64
free_pct         9014 non-null float64
assists          9014 non-null float64
steals           9014 non-null float64
blocks           9014 non-null float64
points           9014 non-null float64
off_reb          9014 non-null float64
def_reb          9014 non-null float64
total_reb        9014 non-null float64
turnovers        9014 non-null float64
school           9014 non-null object
seasons          9014 non-null float64
start_season     9014 non-null int64
end_season       9014 non-null int64
drafted          9014 non-null bool
dtypes: bool(1), float64(26), int64(2), object(3)
memory usage: 2.1+ MB


SUMMARY:

,height,weight,games_played,games_started,min_per,field_goal,field_attmps,field_pct,two_pointer,two_pattamps,...,steals,blocks,points,off_reb,def_reb,total_reb,turnovers,seasons,start_season,end_season
count,9014.000000,9014.00000,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000,9014.00000,9014.000000,9014.000000,...,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000,9014.000000
mean,1.950601,93.49016,22.445006,10.307168,16.679776,1.955403,4.523131,0.41456,1.457943,3.054948,...,0.579077,0.271145,5.535234,0.850743,1.763080,2.611837,1.229243,2.702907,2004.240848,2005.998225
std,0.091375,12.23118,8.043743,9.764652,9.255974,1.521579,3.310250,0.11149,1.266431,2.439058,...,0.463934,0.395510,4.319218,0.698799,1.220275,1.843665,0.784508,1.236685,2.211750,2.124495
min,1.524000,65.77200,1.000000,0.000000,0.700000,0.000000,0.000000,0.00000,-0.400000,-9.200000,...,0.000000,0.000000,0.000000,0.000000,-0.100000,0.000000,0.000000,1.000000,2001.000000,2001.000000
25%,1.879600,83.91600,17.000000,1.000000,8.700000,0.700000,1.700000,0.36700,0.500000,1.100000,...,0.200000,0.000000,1.900000,0.300000,0.800000,1.200000,0.600000,2.000000,2002.000000,2004.000000
50%,1.955800,92.98800,24.800000,8.000000,16.800000,1.600000,3.900000,0.41700,1.100000,2.400000,...,0.500000,0.100000,4.500000,0.700000,1.600000,2.300000,1.100000,2.000000,2004.000000,2006.000000
75%,2.032000,102.06000,29.000000,18.000000,24.300000,3.000000,6.700000,0.47500,2.100000,4.400000,...,0.800000,0.300000,8.300000,1.200000,2.500000,3.700000,1.800000,4.000000,2006.000000,2008.000000
max,2.311400,172.36800,40.000000,39.000000,38.600000,9.300000,20.400000,1.00000,8.200000,15.400000,...,3.300000,5.300000,26.600000,5.500000,8.400000,12.700000,5.200000,6.000000,2009.000000,2009.000000

In [73]:
dfnew.to_csv('dataset_final_20012009.csv', index=False)